<!DOCTYPE html>
<html>
<head>
    <title>Flask-SocketIO Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"

            crossorigin="anonymous"></script>

    <script type="text/javascript" charset="utf-8">
        var socket = io(); // Connect to the Socket.IO server

        socket.on('connect', function() {
            console.log('Connected to server');

        });

        socket.on('client_connected', function(msg) {
            console.log('Received message: ' + msg.data);
            document.getElementById('log').innerHTML += '<br>' + msg.data;

                if (msg.user_id !== undefined) {
            document.getElementById('user-id').textContent = msg.user_id;
            }
        });


        socket.on('server_received_client_message', function(msg) {
            console.log("received message from server");
            console.log('Received message: ' + msg.data);
            document.getElementById('log').innerHTML += '<br>' + msg.user_id + ': '+ msg.data;
        });

        function sendMessage() {
            var message = document.getElementById('message').value;

            //parse the user ID as an integer in base 10 (decimal). That is why we put 10 at the end
            var userId = parseInt(document.getElementById('user-id').textContent,10);
            socket.emit('client_send_message', {
                data: message,
                userid: userId // Send a message to the server
            }); // Send a 'my event' to the server
            document.getElementById('message').value = '';
        }
    </script>
</head>


<body>
    <h1>Flask-SocketIO Example</h1>
<p hidden>Your user ID: <span id="user-id"></span></p>
    <br>
    <input type="text" id="message" placeholder="Enter message">
    <button onclick="sendMessage()">Send</button>
    <div id="log"></div>
</body>
</html>